.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
}

.sidebar__top{
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid#26282c;
    padding: 20px;
    align-items: center;
}

.sidebar__chennels{
    flex: 1;
}

.sidebar__add{
    cursor: pointer;
}

.sidebar__add:hover{
    cursor: pointer;
    color: white;
}

.sidebar__chennelHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.sidebae__head{
    display: flex;
    align-items: center;
}


.sidebar__voice{
    display: flex;
    color: white;
    justify-content: center;
    border-top: 3px solid #26282c;
    align-items: center;
    padding: 10px;

}

.sidebar__voiceIcon{
    padding-right: 10px;
    padding-left: 10px;
    color: green;
}

.sidebar__voiceInfo{
    flex: 1;
    padding-bottom: 10px;
}

.sidebar__voiceInfo > h3{
    color: green;
}

.sidebar__voiceIcons{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar__profile{
    display: flex;
    color: white;
    padding: 10px;
    align-items: center;
    border-top: 3px solid #26282c;

}



.sidebar__profile__name{
    font-size: large;
    flex: 1;
    padding-left: 10px;
}

.sidebar__profile__icons{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}